Degree Show Poster.pdf
~$nal Submission.docx
~WRL3803.tmp
Degree Show Poster.pdf
Degree Show Poster.pptx
Final Submission Draft 2.pdf
Final Submission Draft.pdf
Final Submission.docx
turbine.glb
MSci_Project_ML_Code (2).ipynb